@import url(../main.css);

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list {
  max-width: 900px;
}

.description {
  height: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  max-width: var(--max-width);
  width: 100%;
}
